In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [3]:
drop_list = ['index', 'country', 'TIPI2', 'TIPI3', 'TIPI4', 'TIPI5', 'TIPI7', 'TIPI8', 'TIPI9', 'Q18', 'Q19']

train = train.drop(drop_list, axis=1)
test = test.drop(drop_list, axis=1)

In [4]:
train_x = train.drop(['nerdiness'], axis=1)
train_y = train['nerdiness']

In [5]:
for i in train_x:
    replace = train_x.loc[:,i].value_counts().index[0]
    train_x[i] = train_x[i].fillna(replace)
    test[i] = test[i].fillna(replace)

In [6]:
train_x.isnull().sum()

Q1              0
Q2              0
Q3              0
Q4              0
Q5              0
Q6              0
Q7              0
Q8              0
Q9              0
Q10             0
Q11             0
Q12             0
Q13             0
Q14             0
Q15             0
Q16             0
Q17             0
Q20             0
Q21             0
Q22             0
Q23             0
Q24             0
Q25             0
Q26             0
introelapse     0
testelapse      0
surveyelapse    0
TIPI1           0
TIPI6           0
TIPI10          0
VCL1            0
VCL2            0
VCL3            0
VCL4            0
VCL5            0
VCL6            0
VCL7            0
VCL8            0
VCL9            0
VCL10           0
VCL11           0
VCL12           0
VCL13           0
VCL14           0
VCL15           0
VCL16           0
education       0
urban           0
gender          0
engnat          0
age             0
hand            0
religion        0
orientation     0
voted           0
married         0
familysize      0
ASD             0
dtype: int64

In [7]:
test.isnull().sum()

Q1              0
Q2              0
Q3              0
Q4              0
Q5              0
Q6              0
Q7              0
Q8              0
Q9              0
Q10             0
Q11             0
Q12             0
Q13             0
Q14             0
Q15             0
Q16             0
Q17             0
Q20             0
Q21             0
Q22             0
Q23             0
Q24             0
Q25             0
Q26             0
introelapse     0
testelapse      0
surveyelapse    0
TIPI1           0
TIPI6           0
TIPI10          0
VCL1            0
VCL2            0
VCL3            0
VCL4            0
VCL5            0
VCL6            0
VCL7            0
VCL8            0
VCL9            0
VCL10           0
VCL11           0
VCL12           0
VCL13           0
VCL14           0
VCL15           0
VCL16           0
education       0
urban           0
gender          0
engnat          0
age             0
hand            0
religion        0
orientation     0
voted           0
married         0
familysize      0
ASD             0
dtype: int64

In [8]:
from lightgbm import LGBMClassifier
lgbm_clf = LGBMClassifier(n_estimators=10000)
lgbm_clf.fit(train_x, train_y)

lgbm_pred = lgbm_clf.predict(test)

In [9]:
submission = pd.read_csv('data/sample_submission.csv')

submission['nerdiness'] = lgbm_pred

In [10]:
submission

       index  nerdiness
0          0          0
1          1          1
2          2          1
3          3          1
4          4          1
...      ...        ...
35447  35447          1
35448  35448          1
35449  35449          1
35450  35450          0
35451  35451          1

[35452 rows x 2 columns]

In [11]:
submission.to_csv('qedsq.csv', index=False)